html{
    background-image: linear-gradient(#FC5E55, #FA4083);
}
body{
    background-image:url(/Resource/image-lion-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
} 
main{
    min-height: 300px;
    display :flex;
    align-items: center;

}
.main2 {
    min-height: 300px;
    padding-top: 50px;
}
.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card1{
    background-image: url(/Resource/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}
.card2{
    background-image: url(/Resource/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}
.card3{
    background-image: url(/Resource/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px; 
    width: 30%;
}
.card1, .card2 , .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 15px;
}
.mainbox1{
    flex: 2;
    padding-right: 100px;
}
.mainbox2{
    flex: 1;
}
h1{
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
}
h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
.mainbox2 img{
    border-radius: 15px;
}
p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem
}
.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px;
}  
.cards i{
    font-size: 100px;
}
a{
    color: white;
    text-decoration: none;
}
.Mybutton {
    background-color: white;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
    margin: 20px;
    border-radius: 50px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
}
.Mybutton:hover{
    background-color: rgb(253, 236, 0);
    transition-duration: 1s;
}
.navbutton {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    margin-left: 30px;
    border:  1px solid white;
    padding: 11px 25px;
    border-radius: 5px 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
    position: relative;
}
.testimonials{
    justify-content: space-between;
    display: flex;
    flex-wrap:wrap ;
    margin-bottom: 50px;
}
.tbox{
    margin-top: 50px;
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
}
.tbox :last-child {
    font-size: 0.8rem;
}
.Dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top:20px;
    text-align: center;
}
.navbutton:hover .Dropdown{
    display: block;
}
.Dropdown .navbutton {
     width: 150px;
     background-color: white;
     margin-left: -35px;
     margin-bottom: 10px;
}
.Dropdown .navbutton a{
    color: #FA4083;
}
.inputwrapper {
    margin-bottom: 20px;
}
input[type=Text] , input[type=email] , textarea{
    padding: 12px  20px;
    width: 100%;
    font-family:'Roboto', sans-serif;
    font-size: 0.85rem;
    box-sizing: border-box ;

}
.newline {
    display:block ;
    margin-bottom: 10px;
}
.marginr{
    margin-right: 20px;
}
form{
    margin : 30px 0px;
}