/* Global View */
body{
    color: white;
    background-color: #ebebeb;
    font-family :Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
.container{
    padding-top: 140px;
    min-height: 500px;
    max-width:1024px; ;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-header{
    background-color: rgb(40, 40, 40);
    min-height: 100px;
    position: fixed;
    width: 100%;
}
header{
    justify-content: space-between;
    display: flex;
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    align-items: center;
}
.col{
    background-color: rgb(43, 226, 147);
    width: 30%;
    margin-bottom: 50px;
}
.col p {
    padding: 20px 25px;
    font-size: 0.825;
    line-height: 1.25rem;
}
.hided{
    display: none;
}

.col img{
    width: 100%;
    height: auto;
}
.col p::first-line{
    font-weight: 700;
}
.mybutton{
    padding: 10px 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px 10px;
    margin-left: 25px;
}
span{
    font-weight: 700;

}
/* Tablet View */
@media (max-width : 800px){
    .col{
        width: 48.5%;
    }
    .hided{
        display: block;
    }
    .container{
        padding-top: 40px;
    }
        .container-header{
            position: relative;
    }
    header{
            display: block;
            text-align: center;
    }
    nav a {
            display: block;
    }
    .logo{
            padding: 40px 0;
    }
    .mybutton{
            margin: 0px;
    }
}
/* Mobile View */
@media (max-width : 400px){
    .col{
    width:100% ;
    }
    .container{
    padding-top: 40px;
    }
    .container-header{
        position: relative;
    }
    .hidem{
        display: none;
    }
    header{
        display: block;
        text-align: center;
    }
    nav a {
        display: block;
    }
    .logo{
        padding: 40px 0;
    }
    .mybutton{
        margin: 0px;
    }
} 