body{
    font-family:'Open Sans' , sans-serif ;
    background-image: linear-gradient(to bottom right, #00F490 , #00BBC9 );
}
h1{
    font-family: 'Abril Fatface' , cursive;
}
.jumbotron{
    background-color: rgba(255, 255, 255, 0);
}
.drop-sh {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.158);
}
.lead{
    color: white;
    font-size: 2.2rem;
}
.btn-outline-light{
    border-color: white; 
}
.btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.btn-primary{
    background-color: #00BBC9;
    border-color: white;
}
.btn-primary:hover{
    background-color: #03a2ad;
    border-color: #03a2ad;
}